@import "tailwindcss";

:root {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.profile-picture {
  background-image: url('/profile.webp');
}
