:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 18px;
  margin: 0;
  color: #ffffff;
  background-color: #242424;
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.mb-2 {
  margin-bottom: 2rem;
}

#app {
  display: flex;
  min-height: 100vh;
  align-items: flex-end;
  justify-content: center;
}

.content {
  box-sizing: border-box;
  padding: 4rem;
  min-height: 600px;
  max-width: 900px;
}

.profile {
  position: relative;
  width: 600px;
  height: 600px;
}

.profile-picture {
  display: block;
  height: 100%;
  width: 100%;
  position: fixes;
  background-image: url('/profile.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
}

.social a {
  font-size: 1.75rem;
  color: #ffffff;
  margin-right: 1rem;
}

.social a:hover {
  color: red;
}